@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  color: white;
  font-family: "Noto Sans", sans-serif;
  overflow: hidden;
}

body {
  position: relative;
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  position: absolute;
  top: 0;
  right: 0;
  margin: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 8px;
}

.info::after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("https://raw.githubusercontent.com/primer/octicons/main/icons/info-16.svg");
  -webkit-filter: invert();
  filter: invert();
}

.info>div {
  width: 8em;
  padding: 4px;

  font-size: 0.75em;

  background-color: #333;
  padding: 0.75em;
  border-radius: 0.75em;

  display: none;
}

.info:hover>div {
  display: block;
}

footer {
  position: absolute;
  bottom: 0;
  padding: 8px;
  color: #888;
  transform: scale(0.75);

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 1em;
}

footer p {
  margin: 0;
}

a.gh-link>img {
  width: 1em;
  height: 1em;
  -webkit-filter: invert();
  filter: invert();
  opacity: 0.5;
  transition: opacity ease-in 0.25s;
}

a.gh-link:hover>img {
  opacity: 1;
}

#loading-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0.5em;
  align-items: center;
  position: absolute;
  transform: scale(2);
}

@keyframes ball-bounce-x {
  0% {
    transform: translateY(-100%) translateY(1em) translateX(-100%) translateX(0);
  }

  50%,
  100% {
    transform: translateY(-100%) translateY(1em) translateX(1em);
  }
}

@keyframes ball-bounce-y {
  0% {
    transform: translateY(-0.5em);
  }

  100% {
    transform: translateY(0);
  }
}

.loading-ball {
  display: block;
  width: 1em;
  height: 1em;
  overflow: hidden;
  animation-name: ball-bounce-y;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 1s;
  animation-timing-function: ease-in;
}

.loading-ball::before {
  content: "";
  display: block;
  width: 0.375em;
  height: 0.375em;
  border-radius: 1.5em;
  background-color: #f8583e;
  animation-name: ball-bounce-x;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translate(-100%, -100%);
}